
  /* Smartphones */
  @media screen and (min-width: 576px) {
    /* CSS rules for tablets */
    body {
      font-size: 12px;
    }
    /* Style Coffee glass */
    .hero-images .coffee-glass {
      right: 20%;
      top: 36%;
      width: 40%;
    }
  
    /* Style Coffee cup */
    .hero-images .coffee-cup {
      top: 15%;
      width: 50%;
    }
    /* CTA button styles */
    .cta-button {
      padding: 1rem 2rem;
      border-radius: 20rem;
      font-size: 1.2rem;
    }
  
    /* Stats scetion styles */
    .stats {
      top: 80%;
      gap: 10px;
      padding: 1rem 2rem;
      max-width: 90%;
      left: calc(50% - 45%);
    }
    /* Stats item style */
    .stats-item {
      max-width: 33%;
    }
    /* Card list styles */
    .card-list {
      margin: 6rem 0;
      margin-left: 2rem;
      gap: 0.5rem;
      padding: 1rem;
    }
    .card-item > p {
      font-size: 0.9rem;
    }
    /* Styles for card-item */
    .card-item {
      min-width: 30%;
      width: fit-content;
      overflow-x: scroll;
    }
    .card-item img {
      width: 100%;
      height: auto;
    }
  }
  @media (max-width: 575.98px) { 
    .hero{
      flex-direction: column;
      
    }
    .hero-images{
      display: none;
    }
    .hero-content{
      margin-top: 5rem;
      width: 100%;
    }
    .hero-text{
      font-size: 1rem;
    }
    .cta-button{
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
    }
    .stats{
      padding: 1rem 2rem;
      max-width:90%;
      top: 70%;
      /* right: 30%; */
      left: calc(50% - 45%);
    }
      /* Stats item style */
      .stats-item {
        max-width: 30%;
        font-size: 0.8rem;
      }
      /* Card list styles */
    .card-list {
      margin: 16rem 0;
    
      gap: 0.5rem;
      padding: 1rem;
    }
    .card-item img{
      width: 80%;
    }
    .card-item > p {
      font-size: 0.7rem;
    }
   
  }
  
  